.gigs {

}

//For list view
.demo-pic {
    border-radius: 50px;
    border:solid 30px #009999;
    width:50px;
    height:50px;
}

.distance {
    float: right;
}

.location {
    float: left;
}

.fab {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1em;
}